<div id="card-{{index}}" class="edit" data-index="{{index}}" >
  <div class="edit__flexcontainer">
    <textarea class="edit__input side1" type="text" placeholder="Side 1">{{side1}}</textarea>
    <textarea class="edit__input side2"  type="text" placeholder="Side 2">{{side2}}</textarea>
  </div>
  <select class="edit__selector edit__selector--diff{{difficulty}}" type="number">
    {{#[helpers/diffselect] difficulty}}
      <option value='' disabled>Difficulty</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    {{/[helpers/diffselect]}}
  </select>
  <img src="../assets/trashcan.svg" class="edit__delete">
</div>